@{
    ViewData["Title"] = " Deshboard";
}
<div class="text-center">
    <h1>Welcome To Reveation Lab</h1>

    <p>Learn about <a href="https://www.reveation.io/">Go to reveation lab </a>.</p>

    </div>
